[Unit]
Description=Programa API

[Service]
ExecStart=/home/ubuntu/djcardonan-st0263/APIGateway/APIGateway
Restart=always

[Install]
WantedBy=multi-user.target