[Unit]
Description=Programa MOM

[Service]
ExecStart=/home/ubuntu/djcardonan-st0263/MOM/server/server
Restart=always

[Install]
WantedBy=multi-user.target